@model String

    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Error</div>
        <div class="card-body text-danger">
            <p class="card-text">@Model</p>
        </div>
    </div>
