@model GestionAcademica.Web.ViewModels.TeacherVM

@{
    ViewData["Title"] = "Profesores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron p-5">
    <h3>Filtros</h3>
    <form asp-action="Filter" id="formFilter">
        <div class="form-row align-items-end">
            <div class="col">
                <label asp-for="Teacher.IdIdentidad"></label>
                <input asp-for="Teacher.IdIdentidad" class="form-control" />
            </div>
            <div class="col">
                <label asp-for="Teacher.Name"></label>
                <input asp-for="Teacher.Name" class="form-control" />
            </div>
            <div class=" col-1">
                <input type="submit" value="Filtrar" class="btn btn-outline-dark" />
            </div>
        </div>
    </form>
</div>
<br />

<div class="d-flex justify-content-between mb-3">
    <h3>Lista Profesores</h3>
    <a data-target="#addNewTeacherModal" data-toggle="modal" href="#addNewTeacherModal" class="btn btn-outline-dark">Agregar Nuevo Profesor</a>
</div>

<div id="items">
    <partial name="_TeacherTableList" />
</div>

<partial name="_Create" />

<div id="partials"></div>

<script>
    $(document).ready(function () {
        $("#formFilter").submit(function (e) {
            e.preventDefault();
            var formData = $("#formFilter").serialize();
            $.ajax({
                url: "/Teacher/Filter",
                method: "POST",
                data: formData,
                success: function (response) {
                    if (response.isValid)
                        $("#items").html(response.html);
                    else
                        window.location.href = response.url
                }
            });
        });
    })
    function edit(id) {
        $.ajax({
            url: '/Teacher/Edit',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#editTeacherModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function deleteTeacher(id) {
        $.ajax({
            url: '/Teacher/Delete',
            type: 'GET',
            data: {
                'id': id
            },
            dataType: 'html',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#partials").html(data);
                $("#deleteTeacherModal").modal("show");
            },
            error: function (request, error) {
                alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>
