@model GestionAcademica.Models.CareerCourses

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Course.Code" class="control-label"></label>
                <input asp-for="Course.Code" class="form-control" />
                <span asp-validation-for="Course.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Credits" class="control-label"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.WeeklyHours" class="control-label"></label>
                <input asp-for="Course.WeeklyHours" class="form-control" />
                <span asp-validation-for="Course.WeeklyHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cycle" class="control-label"></label>
                <input asp-for="Cycle" class="form-control" />
                <span asp-validation-for="Cycle" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Career.ID"/>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Career" asp-action="Details" asp-route-id="@Model.Career.ID">Volver a Cursos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
